@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --blue: #0e0d46;
  --orange: #ff9500;
  --red: #b50e0e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

nav.navigator {
  background: linear-gradient(140deg, #056396 0%, #0e0d46 100%);
}

.blue {
  color: var(--blue);
}
.bg-blue {
  background-color: var(--blue);
}
.text-blue {
  color: var(--blue);
}
.bg-orange {
  background-color: var(--orange);
}
.text-orange {
  color: var(--orange);
}

.content-header {
  position: relative;

  background: url("/images/background_landing.jpg") no-repeat center;
  background-size: cover;
}

.content-header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #212121;
  opacity: 0.6;
  z-index: 1;
}

.black-overlay {
  position: relative;
  background-size: cover;
}
.black-overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #212121;
  opacity: 0.6;
  z-index: 1;
}

.bsad {
  position: relative;

  background: url("/images/banner.jpg") no-repeat center;
  background-size: cover;
}

.bsad::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.8;
  z-index: 0;
}

.banner-small .banner {
  position: relative;

  background: url("/images/banner.jpg") no-repeat center;
  background-size: cover;
}

.banner-small .banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.8;
  z-index: 0;
}

@media (min-width: 1024px) {
  .banner-small .banner {
    border-radius: 1rem;
    overflow: hidden; /* optional: to make sure child elements like ::after respect the radius */
  }
}
